body {
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.box {
    background: #1e293b;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}