<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login - DealFlow AI</title>

    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <div class="box">

        <h2>🔐 DealFlow AI</h2>

        <form method="POST" action="/login">

            <input type="text" name="username" placeholder="Usuário" required>

            <input type="password" name="password" placeholder="Senha" required>

            <button type="submit">
                Entrar
            </button>

        </form>

    </div>

</body>

</html>